.additional-info-container {
    background: #F5F5F7;
    height: 100vh;
  }
  
  .logo {
    position: absolute;
    top: 80px;
    left: 8px !important;
    font-size: 24px;
    font-weight: bold;
  }
  
  .additional-info-form {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 551px;
    width: 100%;
    margin: auto;
  }
  
  .welcome-text {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  
  .form-control {
    width: 353px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid rgba(153, 153, 153, 0.97);
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  
  .info-review {
    text-align: center;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .info-agreement {
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 20px;
  }
  
  .info-agreement a {
    color: #007bff !important;
  }
  
  .submit-btn {
    background-color: #00BBF0 !important;
    border: none;
    margin-top: 20px;
    width: 475px;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    color: #ffffff !important;
    font-weight: bold;
  }