/* src/components/AdditionalInformation.css */

.submit-btn {
    background-color: #00BBF0 !important;
    border: none;
    width: 150px;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    color: #ffffff !important;
    font-weight: bold;
  }
  
  .modal-content {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
  }
  