.forgot-password-container {
    background: #F5F5F7;
    height: 120vh; /* Increase the height of the container */
  }
  
  .forgot-password-form {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 551px;
    width: 100%;
    margin: auto;
    text-align: center; /* Center text within the form */
  }
  
  .forgot-password-text {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  
  .form-control {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid rgba(153, 153, 153, 0.97);
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.5); /* consistent font color */
  }
  
  .form-control:focus {
    color: #000000; /* black color on focus */
  }
  
  .continue-btn {
    border: none !important;
    margin-top: 20px;
    width: 100%;
    height: 35px;
    padding: 5px;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4) !important;
    color: #ffffff !important;
    font-weight: bold !important;
    background-color: #00BBF0 !important;
    outline: none !important; /* Remove focus outline */
    cursor: pointer !important; /* Ensure pointer cursor */
    opacity: 1 !important; /* Ensure full opacity */
  }
  
  .button-with-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4) !important;
  }
  
  .position-relative {
    position: relative;
    
  }
  