.help-center-container {
    padding: 0;
    background-color: #F5F5F7;
    min-height: 100vh;
  }
  
  .header-row {
    background-color: #3498db;
    padding: 20px 0;
    margin-top: 2%;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
     margin-bottom: 30px;
  }
  
  .header {
    text-align: center;
    color: #FFFFFF;
    margin-right: 66%;
  }
  
  .header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
  }
/*   
  .main-content {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    height: 310px;
    margin-left: 3px;
    margin-right:2px;
  }
  
  .card {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-bottom: 0px;
  }
  
  .card-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
   */
   .main-content {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 310px;
    margin-left: 3px;
    margin-right: 2px;
    gap: 20px; /* Adjust the spacing between cards */
  }
  
  .card {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-bottom: 0px;
    width: calc(33.33% - 20px); /* Adjust the width of the cards to fit within the row */
    height: 100%;
  }
  
  .card-title {
    margin: 20px;
    margin-top: 144px;
    font-size: 24px;
    font-weight: bold;
  }
  